body{
    font-family: "Comic Sans", "Lucida Console", "Monaco";
}

.navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.carousel-social{
    color: black;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.carousel-title{
    color: white;
    position: absolute;      
    margin-top: 40px;
    /* margin-left: 10px; */
    font-size: 450%;
    text-align: center;
    width: 94%;
}

.sub-title{
    font-size: 0.5em;
}

.carousel-item{
    z-index: -1;
}

@media screen and (max-width:700px){    
    .carousel-title{
        color: white;
        position: absolute;      
        margin-top: 10%;
        /* margin-left: 10px; */
        font-size: 350%;        
    }
    
}

@media screen and (max-width:480px){    
    .carousel-title{
        color: white;
        position: absolute;      
        margin-top: 10px;
        /* margin-left: 10px; */
        font-size: 180%;        
    }    
}